* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family:"font_titulo" ;
    src: url("assets/fonts/Fruit\ Days.otf") format("opentype");
}

#titulo {
    text-align: center;
    font-family: "font_titulo";
    font-size:xx-large;
    color: white;
    padding-bottom: 75px;
    padding-top: 75px;
}

#titulocapas {
    text-align: center;
    font-family: "font_titulo";
    font-size:x-large;
    padding-bottom: 75px;
    padding-top: 75px;
    color: white;
}

nav {
    display: flex;
    background-color: #4b3f93;
}

.social {
    width: 90px;
    padding: 0px;
    padding-left: 250px;
    padding-right: 110px;
}

.nav-button {
    font-family: "font_titulo";
    color: white;
    margin: 8px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    margin: 0px;
}

.container {
    display: flex;
    overflow: hidden;
}
.games1 {
    width: 200px;
    height: 300px;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.games1:hover {
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.games {
    width: 200px;
    height: 300px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.games:hover {
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
}


main {
    background-image: url(https://images.hdqwalls.com/wallpapers/marvel-spiderman-game-4k-jd.jpg);
    opacity: 0.9;
    background-position: center;
}

div {
    padding-left: 15%;
}

.anuncios {
    font-family: "font_titulo";
    font-size: medium;
    color: white;
    text-align: center;
}

.anuncios1 {
    font-family: "font_titulo";
    font-size: medium;
    color: white;
}

p {
    padding-bottom: 50px;
}

.capas {
    width: 700px;
    height: 700px;
    padding-right:45px;
}

li {
    color: white;
}

.btn{
    position: relative;
    display: block;
    color: white;
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #ff7675;
    padding: 14px 30px;
    margin-left: 38%;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
  }
  .btn::before{
    background: #ff7675;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }

  body{
    margin: 0;
    padding: 0;
    background: #2d3436;
  }
  .middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .btn1::before{
    width: 0%;
    height: 100%;
  }

  .btn1:hover::before{
    width: 100%;
  }

  